body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  color: black;
  padding: 60px;
  box-shadow: inset 3px 3px 7px #ffffffb0,
    inset -3px -3px 7px rgba(94, 104, 121, 0.692);
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 7px #ffffffb0,
    inset -3px -3px 7px rgba(94, 104, 121, 0.692);
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    padding: 30px;
  }

  .city {
    flex-direction: column;
    align-items: center;
  }

  .time {
    font-size: 36px;
  }

  .time small {
    font-size: 18px;
    line-height: 36px;
  }
}

@media (max-width: 400px) {
  .container {
    margin: 30px auto;
  }

  .time {
    font-size: 24px;
  }

  .time small {
    font-size: 14px;
    line-height: 24px;
  }
}
