body {
  background-color: black;
  color: beige;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: beige;
  color: black;
  padding: 60px;
  box-shadow: 10px 10px 20px rgba(247, 246, 246, 0.2);
  border-radius: 9px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;

  font-size: larger;
}

footer {
  text-align: center;
  font-size: 18px;
  color: beige;
}
a {
  color: beige;
  text-decoration: none;
}
